extends layout

block content
  .container
    h1 Contact Database App
    p Welcome to the Contact Database App!
    p Here you can add new contacts, edit and delete them.
    p Please click the button below to view contacts.
    a(href='/contacts') View Contacts
